.blog-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .main-title {
    text-align: center;
  }
}

.loader {
  display: flex;
  justify-content: center;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  color: red;
}
.categories-wrapper{
  display: flex;
  justify-content: center;
}

.all-movies {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 800px) {
  .all-movies {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .all-movies {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 500px) {
  .all-movies {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
